.cell{
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 8vmin;
  color: #b0413e;
  background-color: #ffffc7;
}
.board{
    display: grid;
    grid-template-columns: repeat(3, 0.1fr);
    grid-template-rows: repeat(3, 0.1fr);
    gap: 12px;
    justify-content: center;
    align-items: center;
}